@page "/"

<PageTitle>Home Page</PageTitle>

<h1>Welcome to my Portfolio!</h1>
<br>

<div>
    <h4>About me:</h4>
    <p>
        I am from Dallas, now live in Austin pursuing a career in programming.
        I've worked in the healthcare industry for quite a while, within that time I've
        gotten the experience to work with different programs in the industry. 
    </p>
</div>